.dateSelected {
    border-radius: 10px!important;
    background-color: #badaff!important;
    padding: 0.50em!important;
}

.weekend {
    background-color:#f5a9a9!important;
}

.capitalize {
  text-transform: capitalize!important;
}

.dotRed {
  height: 4px;
  width: 4px;
  background-color: #ce2828;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
}
.dotGreen {
  height: 4px;
  width: 4px;
  background-color: #16c571;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
}
.dotOrange {
  height: 4px;
  width: 4px;
  background-color: #ffa43c;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
  z-index: 1;
}